<footer class="footer-sm-space">
  <div class="main-footer">
    <div class="container">
      <div class="row gy-4">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer-contact">
            <div class="brand-logo">
              <a href="index.html" class="footer-logo">
                <svg class="svg-icon">
                  <use
                    class="fill-color"
                    xlink:href="assets/svg/icons.svg#logo"
                  ></use>
                </svg>
                <img
                  src="assets/images/logo.png"
                  class="img-fluid blur-up lazyload"
                  alt="logo"
                />
              </a>
            </div>
            <ul class="contact-lists">
              <li>
                <span>
                  <b>phone:</b>
                  <a href="tel:+254736792914"
                    ><span class="font-light"> + 254 736 792 914</span></a
                  >
                </span>
              </li>
              <li>
                <span>
                  <b>Address:</b>
                  <span class="font-light">
                    1418 Tom Mboya Drive, Suite 3245 Cottonwood, CA 96052,
                    Kenya</span
                  >
                </span>
              </li>
              <li>
                <span>
                  <b>Email:</b>
                  <a href="mailto: mutiso878@gmail.com"
                    ><span class="font-light"> mutiso878@gmail.com</span></a
                  >
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="footer-links">
            <div class="footer-title">
              <h3>Pages</h3>
            </div>
            <div class="footer-content">
              <ul>
                <li>
                  <a href="/" class="font-dark">Home</a>
                </li>
                <li>
                  <a href="/shop" class="font-dark">Shop</a>
                </li>
                <li>
                  <a href="/aboutUs" class="font-dark">About Us</a>
                </li>
                <li>
                  <a href="/cart" class="font-dark">Cart</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="footer-links">
            <div class="footer-title">
              <h3>New Categories</h3>
            </div>
            <div class="footer-content">
              <ul>
                <li>
                  <a href="shop-left-sidebar.html" class="font-dark"
                    >Latest Shoes</a
                  >
                </li>
                <li>
                  <a href="shop-left-sidebar.html" class="font-dark"
                    >Branded Jeans</a
                  >
                </li>
                <li>
                  <a href="shop-left-sidebar.html" class="font-dark"
                    >New Jackets</a
                  >
                </li>
                <li>
                  <a href="shop-left-sidebar.html" class="font-dark"
                    >Colorfull Hoodies</a
                  >
                </li>
                <li>
                  <a href="shop-left-sidebar.html" class="font-dark"
                    >Shiner Goggles</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container">
      <div class="row gy-3">
        <div class="col-md-6">
          <ul>
            <li class="font-dark">We accept:</li>
            <li>
              <a href="javascript:void(0)">
                <img
                  src="assets/images/payment-icon/1.jpg"
                  class="img-fluid blur-up lazyload"
                  alt="payment icon"
              /></a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img
                  src="assets/images/payment-icon/2.jpg"
                  class="img-fluid blur-up lazyload"
                  alt="payment icon"
              /></a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img
                  src="assets/images/payment-icon/3.jpg"
                  class="img-fluid blur-up lazyload"
                  alt="payment icon"
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <p class="mb-0 font-dark">© 2022. Eccomerce WebApp</p>
        </div>
      </div>
    </div>
  </div>
</footer>
