<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="theme-color2 light ltr">
    <!-- header start -->
    <%- include('includes/header.ejs') %>
    <!-- header end -->

    <h1>Some error occurred!</h1>
    <p>We're working on fixing this, sorry for the inconvinience!</p>

    <!-- footer start -->
    <%- include('includes/footer.ejs') %>
    <!-- footer end -->
  </body>
</html>
